/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #F6F6F6;
  background-color: #29282C;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #F6F6F6;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
body {
  width: 95%;
}
body .nav-bar {
  color: #F6F6F6;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  font-size: 16px;
  margin-right: 0;
  margin-left: auto;
}
body .nav-bar .nav-item {
  padding: 5px;
  margin-left: 5px;
}
body .nav-bar a {
  text-decoration: none;
  color: #F6F6F6;
}
body .nav-bar #log-in {
  color: red;
}
body h1 {
  font-size: 44px;
  text-align: center;
}
body .container .client-container {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
body .container .client-container h1 {
  display: block;
}
body .container .client-container p {
  width: 48%;
  line-height: 32px;
}
body .container .client-container .client-img {
  width: 48%;
  height: auto;
  text-align: center;
  border: 0.5px solid white;
  padding: 5px;
  margin: 5px;
}
body .container .btn {
  border: 1px;
  padding: 10px;
  border-radius: 40%;
  background-color: #CA1F3D;
  color: #F6F6F6;
  font-size: 24px;
  margin-top: 25px;
}
body .container .btn:hover {
  background-color: #F6F6F6;
  color: #CA1F3D;
  cursor: pointer;
}
body .container .instructor-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
body .container .instructor-container p {
  width: 49%;
  align-self: center;
}
body .container .instructor-container .instructor-img {
  width: 48%;
  height: auto;
  padding: 20px;
  border: 1px solid white;
  text-align: center;
}
