// Variables

// Color Vars
@main-font-color: #F6F6F6; //text
@bgcolor: #29282C; // background
@button-colors: #CA1F3D; //buttons/interactives


// Mobile var
@tablet: ~"max-width: 850px;";
@mobile: ~"max-width: 500px";